@charset "utf-8";
/* CSS Document */
/*Colors:
Dark Red: #A3050D
Red:#FB101C
Middling Red #BC383F
Black
Milder black:#241D1D

*/
body, header, footer, .header, .footer
{
display:block;
}

h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        padding-right: 15px;
        padding-left: 15px;
}
body
{
        background:#FB101C;
        margin:0;
        padding:0;
		width:1000px;
		margin-left:auto;
		margin-right:auto;
}

.header
{
        margin:0px;
		margin-left:auto;
		margin-right:auto;
        clear:both;
        background:#BC383F;
		width:90%;
		     margin-top:0px;
        text-align:center;
}
.header h1
{
    font-family:Tahoma, Geneva, sans-serif;
        font-size:60px;
}
.body
{
        min-height:310px;
        float:left;
        background:#BC383F;
		width:100%;
}
.bodyContents
{
		padding-left:10px;
        margin:0;
        margin-top:0px;
        background:#CCC;
        min-height:300px;
        float:left;
        width:100%;
		border:10px solid black;
		padding:15px;
}
.navigation
{
        padding:0;
        margin:0;
        float:left;
        width:100%;
		margin-left:2%;
}

#form1
{
left-margin:50%;
}
/* used for the navigation bar*/

ul.nav
{
        list-style-type:none;
        padding:0;
        margin:0;
        margin-left:10px;
}
table
{
display:block;
float:left;
width:60%;
}
ul.nav li
{
        display:block;
        float:left;
        margin:0;
        margin-right:1%;
        width:15%;
        background:black;    /* color */
        text-align:center;
		border-top-left-radius:50px;
		border-top-right-radius:50px;
}
ul.nav a, ul.nav a:visited 
{
        display:block;
        text-decoration: none;
		color:#FFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
        background: #2B2323;  /* color */
        color: #FFF;
				border-top-left-radius:50px;
		border-top-right-radius:50px;
}
.divAdminNav
{
	float:left;
	padding:0;
	margin-top:2%;
	width:10%;;
	min-height:200px;

}
.divAdminNav ul
{
	    list-style-type:none;
        padding:0;
        margin:0;
		width:100%;
		list-style-type:none;-
	display:block;
}

.divAdminNav ul li
{
	display:block;
	float:left;
	margin:0;
	width:100%;
	background:#30636B;
	clear:left;
	text-align:left;
	margin-top:2%;
}
.divAdminNav ul a, .divAdminNav ul a:visited 
{
        display:block;
        text-decoration: none;
		color:#FFF;
}
.divAdminNav ul a:hover, .divAdminNav ul a:active, .divAdminNav ul a:focus { 
        background: #5FC0CE;  /* color */
        color: #FFF;
		display:block;
}

.divAdminBodyContents
{
	float:left;
	width:80%;
	background:#EBEBEB;
	margin-top:1%;
	padding-left:2%;
	min-height:250px;
}
form
{
display:block;
float:left;
width:20%;
}
#form1
{
text-align:center;
}
.divAdminNav ul a:hover, .divAdminNav ul a:active, .divAdminNav ul a:focus { 
        background: #BC383F;  /* color */
        color: #FFF;
		display:block;
}


i.curPage a, li.curPage a:visited
{
	background:#241D1D;
}



